* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
:root {
  --gray-color: #515962;
  --color-label: #69b03b;
}
a:hover {
  color: var(--color-label);
}
.gamename {
  max-height: 1.5rem;
  overflow: hidden;
}
.hot-2-img {
  max-height: 8rem;
  overflow: hidden;
  min-height: 8rem;
  border-radius: 10px;
}
.page-link {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--gray-color);
}
p {
  padding: 0;
  margin: 0;
}
.d-none {
  display: none;
}
.op-5 {
  opacity: 0.5;
}
h3 strong {
  font-size: 1.75rem;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
}

.w-80 {
  width: 80%;
  margin: 0 10%;
}
.label {
  color: var(--color-label);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  display: inline-block;
  border-top: 0.2rem solid var(--color-label);
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 0.5rem 0px;
  width: 100%;
}
.input-search-modal::placeholder {
  color: #fff;
}
.search-soluong{
  color: red;
  font-weight: bold;
}
.w-100 {
  width: 100%;
}
ul {
  list-style: none;
}
.bd-t {
  border-top: 1px solid #ccc;
}
.bd-bt {
  border-bottom: 1px solid #ccc;
}
.bd-t-green {
  border-top: 0.2rem solid var(--color-label);
}
.d-flex {
  display: flex;
}
img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
/* Header */
#header-top {
  justify-content: space-between;
  height: 3rem;
}
.logo img {
  height: 100%;
}
.header-menu {
  height: 100%;
}
.header-menu li {
  position: relative;
}
.header-menu > li:not(:first-child) {
  padding: 0.5rem;
  line-height: 2rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
}
.header-menu .menu-category:hover {
  cursor: pointer;
  opacity: 0.8;
}

.header-menu .menu-category:hover + .menu-sub-cat {
  min-width: 36rem;
  display: flex;
  text-transform: none;
  left: 0;
}
.sub-bar {
  display: none;
  line-height: 3rem;
  padding: 0 1rem;
}
.modal-menu {
  height: 45vh;
  border-radius: 5px;
  background-color: #000;
  width: 15rem;
  display: none;
  position: absolute;
  opacity: 0.8;
}
.modal-menu .menu-category a {
  color: #fff;
  padding: 0.5rem 0;
}
.modal-menu .menu-category {
  list-style: none;
  padding: 0.3rem 0rem;
}
.right-menu-top {
  display: flex;
}
.input-search-modal {
  padding: 0.5rem;
}
.input-search-modal input {
  width: 100%;
  background-color: #000;
  color: #fff;
}
.log-in {
  padding: 1rem;
  background-color: #ccc;
  right: 0;
  position: relative;
}
.log-in:hover .modal-log {
  display: block;
  z-index: 3;
}
#sub-header {
  height: 2.5rem;
}
.menu-sub-cat {
  display: none;
  margin-left: 9rem;
  z-index: 3;
  position: relative;
}

.menu-sub-cat li {
  padding: 0 0.5rem;
  line-height: 2.5rem;
  opacity: 0.8;
}
#search {
  padding: 0.5rem 0;
  right: 10%;
  position: absolute;
}
.modal-log {
  position: absolute;
  width: 10rem;
  left: -125%;
  top: 100%;
  display: none;
}
.modal-log a {
  padding: 0.5rem;
  display: inline-block;
  width: 5rem;
  text-align: center;
  font-weight: bold;
  color: #000;
  background-color: #fff;
}
.modal-log a:hover {
  opacity: 0.8;
  background-color: #ccc;
}
/* Container */
#container {
  margin-top: 8rem;
}
.editor-link {
  color: blue;
  font-weight: bold;
}
.page-link:hover {
  background-color: rgb(142, 220, 220);
}
.this-page-link {
  background-color: rgb(142, 220, 220);
  color: #fff;
}
.col-12 select {
  min-width: 12rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.col-12 .select {
  margin-bottom: 0;
}
.form-label {
  display: inline-block;
  /* margin-bottom: .5rem; */
  margin-top: 1rem;
}
.col-12 label {
  font-size: 1.2rem;
}
#container-admin {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#log-in {
  margin: 0 auto 8rem auto;
  width: 24rem;
}
.login-logo {
  z-index: 3;
  min-height: 10rem;
  text-align: center;
  position: relative;
}
.login-logo p {
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--color-label);
}
.show-all-admin {
  justify-content: space-between;
}
.login-logo a {
  display: inline-block;
  width: 100%;
}
#log-in .login-logo {
  width: 100%;
  text-align: center;
}
#log-in .form-label {
  display: inline-block;
  margin: 0.5rem 0;
}
#left-container {
  width: 70%;
}
#left-container .news img {
  height: 100%;
}
#left-container .news .img-tieude {
  display: inline-block;
  min-width: 13rem;
  max-width: 13rem;
  height: 8rem;
}
.lazy {
  min-height: 550px;
  min-width: 100%;
  margin: auto;
}
.giftcode-game {
  text-align: center;
}
.linkfrom i {
  padding: 0 0.5rem;
}
#hot-news {
  justify-content: space-between;
}
#hot-new-news {
  width: 55%;
  min-height: 42rem;
}
.slide-main {
  position: relative;
  overflow: hidden;
}
.carousel-item {
  height: 13.5rem;
  position: relative;
}
.description {
  position: absolute;
  overflow: hidden;
  width: 100%;
  bottom: 0;
}
.description h2 {
  color: #fff;
  line-height: 1rem;
  padding: 0 0.3rem;
  text-transform: uppercase;
}
.description h2 span {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #ccc, 0 0 5px #ccc;
  font-weight: bold;
}
.img-feature {
  transition: 2s;
  overflow: hidden;
}
.prevBtn {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: #fff;
  cursor: pointer;
  text-shadow: 0 0 0 transparent, 1px 1px 5px #000;
}
.nextBtn {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: #fff;
  cursor: pointer;
  text-shadow: 0 0 0 transparent, 2px 1px 5px #000;
}
.slide-list-image {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.slide-list-image div {
  padding: 0.1rem;
}

.active-red {
  background-color: rgb(226, 62, 62);
}
.slide-list-image img,
.hot-new-news-2-item img {
  width: 100%;
  height: 100%;
}
.news-list {
  min-height: 51rem;
}
.hot-new-news-2 {
  padding-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}
.hot-new-news-2-item {
  width: 50%;
  height: 100%;
  padding: 0 0.5rem;
}
#newbie-guild{
  min-height: 16.85rem;
}
.hot-new-news-2-item p {
  overflow: hidden;
  font-weight: bold;
  color: #000;
  opacity: 0.8;
  display: inline-block;
  max-height: 3rem;
}
.hot-new-news-2-item p:hover {
  color: var(--color-label);
}
#hot-news-game {
  width: 100%;
  padding-bottom: 1rem;
}

.tab-game li:hover {
  background-color: #d1d1d1;
}
.tab-game li a {
  color: var(--color-label);
  padding: 0.5rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
.tab-game-list {
  overflow: scroll;
  margin-top: 1rem;
}
.tab-game-list li {
  max-width: 8rem;
  padding: 0 0.5rem;
}
.tab-game-list li img {
  height: 7rem;
  width: 7rem;
  border-radius: 5rem;
}
.tab-game-list a {
  text-align: center;
}
.tab-game-list li span {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}
.tab-game-item div {
  max-height: 1.5rem;
}
.game-item-vote {
  text-align: center;
}
.game-item-vote i {
  font-size: 0.7rem;
  color: rgb(230, 230, 41);
}
.label-hot-news {
  border-top: none;
}
.news-list {
  margin-top: 1rem;
}
.news {
  padding: 1rem 0;
  height: 10rem;
}
.news-title,
.news-date,
.news-decscript {
  padding: 0rem 1rem;
  line-height: 1.8rem;
}
.news-title {
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
  overflow: hidden;
  height: 1.8rem;
}
.news-title:hover {
  color: var(--color-label);
}
.news-date {
  font-size: 0.7rem;
  opacity: 0.8;
}
.news-decscript {
  font-size: 0.8rem;
  font-weight: 500;
  display: inline-block;
  max-height: 1.5rem;
  overflow: hidden;
}

#giftcode {
  width: 40%;
}
.giftcode-item {
  height: 5rem;
  display: flex;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
}
.giftcode-item img {
  width: 3.75rem;
}
.giftcode-item p {
  line-height: 1.5rem;
  margin: 0 1rem;
}
.giftcode-name {
  height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.giftcode-name p {
  font-weight: bold;
  cursor: pointer;
}
.giftcode-name:hover {
  color: var(--color-label);
}
.giftcode-quantity {
  font-size: 0.8rem;
  opacity: 0.8;
}
#pagination {
  padding: 1rem 2rem;
  margin-top: 0.5rem;
  text-align: center;
}
#pagination ul {
  display: inline;
  margin: auto;
}
#pagination li {
  display: inline-block;
  padding: 0.5rem;
}
#pagination li:hover {
  background-color: #ccc;
}
#right-container {
  width: calc(30% - 2.5rem);
  margin-left: 2.5rem;
}
#right-container .img-review {
  width: 40%;
  height: 100%;
}
.tieudetin {
  width: 60%;
}
.right-content-news {
  height: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.right-content-news a:hover {
  color: var(--color-label);
}
.right-content-news a {
  font-size: 0.9rem;
  font-weight: bold;
  opacity: 0.8;
  line-height: 2.5rem;
}
.review {
  height: 7rem;
  display: block;
  padding: 1rem 0;
}

.review a {
  display: flex;
  line-height: calc(5rem / 4);
}
.review span {
  font-size: 0.9rem;
}
.select-form {
  width: 20%;
}
.select-form a {
  display: block;
  font-size: 1.5rem;
  font-weight: bolder;
}
.form-add {
  width: 80%;
}
@keyframes onShow {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.show {
  border: none;
  background-color: #fff;
  padding: 0 1rem;
}
.form-baiviet {
  position: relative;
}
#preshow {
  position: absolute;
  width: 50%;
  margin: auto;
  top: 8rem;
  background-color: #fff;
  display: none;
  border: 3px solid #000;
  border-radius: 5px;
  animation: onShow 1s ease-in-out;
}
#preshow-name {
  font-size: 1.5rem;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  color: red;
}
.close-modal {
  position: absolute;
  top: 0;
  right: 0;
}
#tacgia {
  text-align: right;
  font-weight: bold;
}
#tacgia i {
  color: red;
}
.post-details #trichdantin {
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}
.img-caption{
  text-align: center;
  color: red;
}
.pd-top-bottom {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.post-details img {
  margin: 0.5rem 15%;
  width: 70%;
}
.post-details{
  margin-top: 2rem;
}
.block-content ~ .block-content {
  padding-bottom: 0.5rem;
}
.img-post{
  max-width: 100%;
}
.giftcode-category a:hover {
  color: var(--color-label);
}
footer {
  margin-top: 1rem;
  color: #fff;
}

/* Admin */
.your-info {
  margin-top: 1rem;
}
.your-info h2 {
  text-align: center;
}
.user-img {
  width: 10rem;
  height: 10rem;
  margin: auto;
  border-radius: 100px;
  overflow: hidden;
  background-image: url("../public/unknown.jpg");
}
.user-img img {
  height: 100%;
}
.info-user {
  text-align: center;
  margin-top: 1rem;
}
.info-id {
  color: #ccc;
}
.info-level {
  font-weight: bold;
  color: red;
}
.sub-info {
  border: 1px solid #ccc;
}
.sub-info .title {
  min-width: 50%;
}
.sub-info p {
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}
.sub-info .title {
  border-right: 1px solid #ccc;
}
.lable-admin {
  font-size: 2rem;
  font-weight: bold;
  color: green;
}
.badge button {
  margin: 0 0.5rem;
  min-width: 2rem;
}
.caption-link {
  justify-content: center;
  opacity: 0.8;
  display: flex;
}
.list-group {
  position: relative;
}
#menu-delete {
  position: absolute;
  display: none;
  width: 500px;
  height: 150px;
  border-radius: 40px;
  background-color: #ccc;
  top: 9rem;
  text-align: center;
}
#menu-delete label {
  color: red;
  font-size: 1.5rem;
  font-weight: bolder;
}
#menu-delete div {
  display: flex;
  justify-content: space-around;
}
#menu-delete button {
  height: 2rem;
  margin-top: 2rem;
}
.outline {
  min-width: 6rem !important;
}
.post-selection a {
  padding: 1rem 1rem 0 0;
}
.post-selection {
  padding: 1rem 0;
  position: relative;
}
.link-des {
  z-index: 2;
  background-color: #fff;
  display: none;
  position: absolute;
  top: -16px;
  left: 0;
}
.post-selection a:hover .link-des {
  display: inline-block;
}
.input-admin {
  padding: 1rem 0;
}
.input-admin input {
  padding: 0.5rem;
  min-width: 20rem;
  border-radius: 5rem;
}
